# Practical Data Analysis with Pandas

In [3]:
import pandas as pd

If you want, you can download the data set from https://openpolicing.stanford.edu/data/. You can also get information about the data set from this site. Let's import the data set.

In [4]:
df=pd.read_csv(
    "Data/ca_san_diego_2019_02_25.csv")

In [5]:
df.head()

,raw_row_number,date,time,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop
0,1,2014-01-01,01:25:00,110,24.0,white,male,vehicular,False,True,False,citation,NaN,False,NaN,NaN,NaN,NaN,Moving Violation
1,2,2014-01-01,05:47:00,320,42.0,white,male,vehicular,False,False,True,warning,NaN,False,NaN,NaN,NaN,NaN,Moving Violation
2,3,2014-01-01,07:46:00,320,29.0,asian/pacific islander,male,vehicular,False,False,True,warning,NaN,False,NaN,NaN,NaN,NaN,Moving Violation
3,4,2014-01-01,08:10:00,610,23.0,white,male,vehicular,False,True,False,citation,NaN,False,NaN,NaN,NaN,NaN,Moving Violation
4,5,2014-01-01,08:35:00,930,35.0,hispanic,male,vehicular,False,True,False,citation,NaN,False,NaN,NaN,NaN,NaN,Equipment Violation

In [4]:
df.tail(3)

,raw_row_number,date,time,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop
390996,390997,2017-03-31,23:49:00,620,23.0,hispanic,male,vehicular,False,False,False,NaN,NaN,False,NaN,NaN,NaN,NaN,Radio Call/Citizen Contact
390997,390998,2017-03-31,23:55:00,710,NaN,hispanic,male,vehicular,NaN,True,False,citation,NaN,NaN,NaN,NaN,NaN,NaN,Moving Violation
390998,390999,2017-03-31,23:58:00,310,26.0,white,female,vehicular,NaN,False,True,warning,NaN,NaN,NaN,NaN,NaN,NaN,Equipment Violation

In [5]:
df.shape

(390999, 19)

In [6]:
df.dtypes

raw_row_number         int64
date                  object
time                  object
service_area          object
subject_age          float64
subject_race          object
subject_sex           object
type                  object
arrest_made           object
citation_issued       object
warning_issued        object
outcome               object
contraband_found      object
search_conducted      object
search_person         object
search_vehicle        object
search_basis          object
reason_for_search     object
reason_for_stop       object
dtype: object

In [7]:
df.isnull().sum()

raw_row_number            0
date                    132
time                   1256
service_area              0
subject_age           12644
subject_race           1398
subject_sex             806
type                      0
arrest_made           35022
citation_issued       32712
warning_issued        32712
outcome               40047
contraband_found     379835
search_conducted      37096
search_person        376459
search_vehicle       376459
search_basis         374173
reason_for_search    376343
reason_for_stop         266
dtype: int64

In [8]:
df.date.head()

0    2014-01-01
1    2014-01-01
2    2014-01-01
3    2014-01-01
4    2014-01-01
Name: date, dtype: object

In [9]:
df.columns

Index(['raw_row_number', 'date', 'time', 'service_area', 'subject_age',
       'subject_race', 'subject_sex', 'type', 'arrest_made', 'citation_issued',
       'warning_issued', 'outcome', 'contraband_found', 'search_conducted',
       'search_person', 'search_vehicle', 'search_basis', 'reason_for_search',
       'reason_for_stop'],
      dtype='object')

In [10]:
df["time"].head()

0    01:25:00
1    05:47:00
2    07:46:00
3    08:10:00
4    08:35:00
Name: time, dtype: object

In [11]:
df[["date","time"]].head()

         date      time
0  2014-01-01  01:25:00
1  2014-01-01  05:47:00
2  2014-01-01  07:46:00
3  2014-01-01  08:10:00
4  2014-01-01  08:35:00

In [12]:
df.rename(columns={"date":"DATE",
                   "time":"TIME"},
          inplace=True)
df.head()

,raw_row_number,DATE,TIME,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop
0,1,2014-01-01,01:25:00,110,24.0,white,male,vehicular,False,True,False,citation,NaN,False,NaN,NaN,NaN,NaN,Moving Violation
1,2,2014-01-01,05:47:00,320,42.0,white,male,vehicular,False,False,True,warning,NaN,False,NaN,NaN,NaN,NaN,Moving Violation
2,3,2014-01-01,07:46:00,320,29.0,asian/pacific islander,male,vehicular,False,False,True,warning,NaN,False,NaN,NaN,NaN,NaN,Moving Violation
3,4,2014-01-01,08:10:00,610,23.0,white,male,vehicular,False,True,False,citation,NaN,False,NaN,NaN,NaN,NaN,Moving Violation
4,5,2014-01-01,08:35:00,930,35.0,hispanic,male,vehicular,False,True,False,citation,NaN,False,NaN,NaN,NaN,NaN,Equipment Violation

In [13]:
df.iloc[0].head()

raw_row_number             1
DATE              2014-01-01
TIME                01:25:00
service_area             110
subject_age               24
Name: 0, dtype: object

In [14]:
df.iloc[0,1]

'2014-01-01'

In [15]:
df.iloc[0,[1,3,5]]

DATE            2014-01-01
service_area           110
subject_race         white
Name: 0, dtype: object

In [16]:
df.iloc[0:5,[1,3,5]]

         DATE service_area            subject_race
0  2014-01-01          110                   white
1  2014-01-01          320                   white
2  2014-01-01          320  asian/pacific islander
3  2014-01-01          610                   white
4  2014-01-01          930                hispanic

In [17]:
df.iloc[0:5,0:5]

   raw_row_number        DATE      TIME service_area  subject_age
0               1  2014-01-01  01:25:00          110         24.0
1               2  2014-01-01  05:47:00          320         42.0
2               3  2014-01-01  07:46:00          320         29.0
3               4  2014-01-01  08:10:00          610         23.0
4               5  2014-01-01  08:35:00          930         35.0

In [18]:
df.loc[1:5,"TIME":"type"]

,TIME,service_area,subject_age,subject_race,subject_sex,type
1,05:47:00,320,42.0,white,male,vehicular
2,07:46:00,320,29.0,asian/pacific islander,male,vehicular
3,08:10:00,610,23.0,white,male,vehicular
4,08:35:00,930,35.0,hispanic,male,vehicular
5,08:39:00,820,30.0,hispanic,male,vehicular

In [19]:
df.loc[0:5,"DATE":"type"].head()

,DATE,TIME,service_area,subject_age,subject_race,subject_sex,type
0,2014-01-01,01:25:00,110,24.0,white,male,vehicular
1,2014-01-01,05:47:00,320,42.0,white,male,vehicular
2,2014-01-01,07:46:00,320,29.0,asian/pacific islander,male,vehicular
3,2014-01-01,08:10:00,610,23.0,white,male,vehicular
4,2014-01-01,08:35:00,930,35.0,hispanic,male,vehicular

In [20]:
df.shape

(390999, 19)

In [21]:
df.dropna(axis="columns",how="all").shape

(390999, 19)

In [22]:
df.dropna(axis="columns",how="any").shape

(390999, 3)

## A Simple Analysis

In [23]:
df.reason_for_stop.value_counts().head()

Moving Violation                285562
Equipment Violation              99577
Radio Call/Citizen Contact        1941
Muni, County, H&S Code            1349
Personal Knowledge/Informant       884
Name: reason_for_stop, dtype: int64

In [6]:
df[df.reason_for_stop==
   "Moving Violation"
  ].subject_sex.value_counts()

subject_sex
male      179242
female    105765
Name: count, dtype: int64

In [26]:
df[df.subject_sex==
   "female"
  ].reason_for_stop.value_counts(
    normalize=True).head()

Moving Violation                0.773651
Equipment Violation             0.215736
Radio Call/Citizen Contact      0.003606
Muni, County, H&S Code          0.002516
Personal Knowledge/Informant    0.001609
Name: reason_for_stop, dtype: float64

In [27]:
df.groupby(
    "subject_sex"
).reason_for_stop.value_counts(
    normalize=True).head()

subject_sex  reason_for_stop
female       Moving Violation                0.773651
             Equipment Violation             0.215736
             Radio Call/Citizen Contact      0.003606
             Muni, County, H&S Code          0.002516
             Personal Knowledge/Informant    0.001609
Name: reason_for_stop, dtype: float64

In [28]:
df.groupby(
    "subject_sex"
).reason_for_stop.value_counts(
    normalize=True).unstack()

reason_for_stop,&Equipment Violation,&Moving Violation,&Radio Call/Citizen Contact,B & P,Equipment Violation,"MUNI, County, H&S Code",Moving Violation,"Muni, County, H&S Code",NOT CHECKED,NOT MARKED,...,Radio Call/Citizen Contact,Suspect Info,"Suspect Info (I.S., Bulletin, Log)","UNI, &County, H&&S Code",none listed,not listed,not marked,not marked not marked,not noted,not secified
subject_sex,,,,,,,,,,,,,,,,,,,,,
female,0.000015,0.000044,NaN,0.000007,0.215736,0.000029,0.773651,0.002516,0.000007,0.000015,...,0.003606,0.000044,0.000929,0.000110,0.000007,NaN,0.000015,0.000007,NaN,0.000007
male,0.000004,0.000059,0.000004,NaN,0.276510,0.000099,0.707770,0.003961,NaN,NaN,...,0.005690,0.000043,0.001619,0.000229,0.000016,0.000004,0.000008,NaN,0.000008,NaN

In [29]:
df.arrest_made.value_counts()

False    351060
True       4917
Name: arrest_made, dtype: int64

In [30]:
df.arrest_made.value_counts(normalize=True)

False    0.986187
True     0.013813
Name: arrest_made, dtype: float64

In [31]:
df.groupby(
    "subject_sex"
).arrest_made.value_counts(normalize=True)

subject_sex  arrest_made
female       False          0.991049
             True           0.008951
male         False          0.983550
             True           0.016450
Name: arrest_made, dtype: float64

In [32]:
df.groupby(
    ["subject_race","subject_sex"]
).arrest_made.value_counts(
    normalize=True).head()

subject_race            subject_sex  arrest_made
asian/pacific islander  female       False          0.993134
                                     True           0.006866
                        male         False          0.987704
                                     True           0.012296
black                   female       False          0.985657
Name: arrest_made, dtype: float64

In [34]:
combined=df.DATE.str.cat(df.TIME, sep=" ")

In [35]:
df["stop_datetime"]=pd.to_datetime(combined)
df.head()

,raw_row_number,DATE,TIME,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop,stop_datetime
0,1,2014-01-01,01:25:00,110,24.0,white,male,vehicular,False,True,False,citation,NaN,False,NaN,NaN,NaN,NaN,Moving Violation,2014-01-01 01:25:00
1,2,2014-01-01,05:47:00,320,42.0,white,male,vehicular,False,False,True,warning,NaN,False,NaN,NaN,NaN,NaN,Moving Violation,2014-01-01 05:47:00
2,3,2014-01-01,07:46:00,320,29.0,asian/pacific islander,male,vehicular,False,False,True,warning,NaN,False,NaN,NaN,NaN,NaN,Moving Violation,2014-01-01 07:46:00
3,4,2014-01-01,08:10:00,610,23.0,white,male,vehicular,False,True,False,citation,NaN,False,NaN,NaN,NaN,NaN,Moving Violation,2014-01-01 08:10:00
4,5,2014-01-01,08:35:00,930,35.0,hispanic,male,vehicular,False,True,False,citation,NaN,False,NaN,NaN,NaN,NaN,Equipment Violation,2014-01-01 08:35:00

In [36]:
df.dtypes

raw_row_number                int64
DATE                         object
TIME                         object
service_area                 object
subject_age                 float64
subject_race                 object
subject_sex                  object
type                         object
arrest_made                  object
citation_issued              object
warning_issued               object
outcome                      object
contraband_found             object
search_conducted             object
search_person                object
search_vehicle               object
search_basis                 object
reason_for_search            object
reason_for_stop              object
stop_datetime        datetime64[ns]
dtype: object

In [38]:
df.arrest_made.head()

0    False
1    False
2    False
3    False
4    False
Name: arrest_made, dtype: object

In [39]:
df["arrest_made"]=df.arrest_made.astype(bool)

In [40]:
df.arrest_made.value_counts()

False    351060
True      39939
Name: arrest_made, dtype: int64

In [41]:
df.arrest_made.mean()

0.10214604129422326